.idea
*.iml
rebel.xml
oreo-bussiness/target/
oreo-common/target/
oreo-core/target/
oreo-dao/target/
oreo-openapi/target/
oreo-web/target/
oreo-tech-sense/target/
oreo-ejiayou-openapi/target/

oreo-bussiness/disconf/
oreo-common/disconf/
oreo-core/disconf/
oreo-dao/disconf/
oreo-openapi/disconf/
oreo-web/disconf/

/.settings/
/.project

oreo-openapi/.project
oreo-openapi/.classpath
oreo-dao/src/main/java/com/ejiayou/oreo/entity/evaluate/UserEvaluateInfo.java
oreo-dao/src/main/java/com/ejiayou/oreo/entity/evaluate/OrderDetailInfoDto.java
oreo-dao/.settings/org.eclipse.wst.validation.prefs
oreo-dao/.settings/org.eclipse.wst.common.project.facet.core.xml
oreo-dao/.settings/org.eclipse.wst.common.component
oreo-dao/.settings/org.eclipse.m2e.core.prefs
oreo-dao/.settings/org.eclipse.jdt.core.prefs
oreo-dao/.settings/org.eclipse.core.resources.prefs
oreo-dao/.project
oreo-dao/.classpath
oreo-core/.settings/org.eclipse.wst.validation.prefs
oreo-core/.settings/org.eclipse.wst.common.project.facet.core.xml
oreo-core/.settings/org.eclipse.wst.common.component
oreo-core/.settings/org.eclipse.m2e.core.prefs
oreo-core/.settings/org.eclipse.jdt.core.prefs
oreo-core/.settings/org.eclipse.core.resources.prefs
oreo-core/.project
oreo-core/.classpath
oreo-common/.settings/org.eclipse.wst.validation.prefs
oreo-common/.settings/org.eclipse.wst.common.project.facet.core.xml
oreo-common/.settings/org.eclipse.wst.common.component
oreo-common/.settings/org.eclipse.m2e.core.prefs
oreo-common/.settings/org.eclipse.jdt.core.prefs
oreo-common/.settings/org.eclipse.core.resources.prefs
oreo-common/.project
oreo-common/.classpath
oreo-bussiness/.settings/org.eclipse.wst.validation.prefs
oreo-bussiness/.settings/org.eclipse.wst.common.project.facet.core.xml
oreo-bussiness/.settings/org.eclipse.wst.common.component
oreo-bussiness/.settings/org.eclipse.m2e.core.prefs
oreo-bussiness/.settings/org.eclipse.jdt.core.prefs
oreo-bussiness/.settings/org.eclipse.core.resources.prefs
oreo-bussiness/.project
oreo-bussiness/.classpath
oreo-web/.settings/org.eclipse.wst.validation.prefs
oreo-web/.settings/org.eclipse.wst.jsdt.ui.superType.name
oreo-web/.settings/org.eclipse.wst.jsdt.ui.superType.container
oreo-web/.settings/org.eclipse.wst.common.project.facet.core.xml
oreo-web/.settings/org.eclipse.wst.common.component
oreo-web/.settings/org.eclipse.m2e.core.prefs
oreo-web/.settings/org.eclipse.jdt.core.prefs
oreo-web/.settings/org.eclipse.core.resources.prefs
oreo-web/.settings/.jsdtscope
oreo-web/.project
oreo-web/.classpath
oreo-openapi/.settings/org.eclipse.wst.validation.prefs
oreo-openapi/.settings/org.eclipse.wst.common.project.facet.core.xml
oreo-openapi/.settings/org.eclipse.wst.common.component
oreo-openapi/.settings/org.eclipse.m2e.core.prefs
oreo-openapi/.settings/org.eclipse.jdt.core.prefs
oreo-openapi/.settings/org.eclipse.core.resources.prefs
oreo-web/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
oreo-common/src/main/java/com/ejiayou/oreo/common/result/
oreo-dao/src/test/java/com/ejiayou/oreo/dao/orderinfo/
oreo-dao/src/test/java/com/ejiayou/oreo/dao/account/bean/
/bin/
/target/
.idea
